.list-categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  list-style: none;
}

.card-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  justify-content: center;
  background-color: var(--background-tertiary-color);
  width: 312px;
  height: 220px;
  border-radius: 8px;
  padding: 2.5rem 1rem;
  text-decoration: none;
  color: var(--text-primary-color);
}

.card-categories picture {
  height: 74px;
  display: flex;
  align-items: center;
}

.card-categories img {
  height: 48x;
}

.card-categories span {
  font-weight: var(--title-weight);
  font-size: 28px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .list-categories {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .list-categories {
    flex-wrap: nowrap;
  }

  .card-categories {
    width: 281px;
  }
}
