.list-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.card-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  justify-content: center;
  background-color: var(--background-tertiary-color);
  width: 312px;
  height: 220px;
  border-radius: 8px;
  padding: 2.5rem 1rem;
}

.card-categories picture {
  height: 74px;
  display: flex;
  align-items: center;
}

.card-categories img {
  height: 48x;
}

.card-categories span {
  font-weight: var(--title-weight);
  font-size: 28px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .list-categories {
    width: 700px;
    margin: auto;
  }
}

@media screen and (min-width: 1440px) {
  .list-categories {
    width: 1400px;
    flex-direction: row;
  }
}
