.destination-items {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.destination-items article {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* PAGÍNA BLOG*/
.blog .main-footer {
  margin-top: 88px;
}
@media screen and (min-width: 768px) {
  /* PAGÍNA BLOG*/
  .blog .destination .coming {
    flex-direction: row;
    align-items: center;
  }

  .blog .destination .destination-items .coming > figure {
    width: 50%;
  }

  .blog .main-footer {
    margin-top: 104px;
  }
}

@media screen and (min-width: 1024px) {
  .blog .destination-items {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }

  .blog .destination .destination-items > figure {
    width: 100%;
  }

  /* PAGÍNA BLOG*/
  .blog .destination .content-post {
    /*flex-wrap: wrap; */
  }
}
@media screen and (min-width: 1440px) {
  .destination-items {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .blog .text-content {
    width: 100%;
  }

  .blog .destination .content-post {
    /* width: 30vw; */
    flex-direction: row;
  }
}
