.destination-items {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.destination-items article {
  width: 360px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .destination-items article {
    width: 648px;
  }
}

@media screen and (min-width: 1440px) {
  .destination-items {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .destination-items article {
    width: 600px;
  }
}
