.main-footer {
  background-color: var(--background-secondary-color);
  text-align: center;
  color: var(--text-tertiary-color);
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 28px;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-footer .footer-content > img {
  width: 162px;
  height: 40px;
}

.main-footer .footer-content p:nth-of-type(1) {
  margin: 16px 0 8px;
}

.footer-social > p {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .main-footer {
    padding: 52px 60px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .footer-content {
    text-align: start;
  }
}

@media screen and (min-width: 1920px) {
  .main-footer {
    padding: 52px 120px;
  }
}
