* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
}

:root {
  --primary-color: #b81515;
  --secondary-color: #8f0101;

  --background-primary-color: #ffffff;
  --background-secondary-color: #000000;
  --background-tertiary-color: #f5f5f5;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;
  --text-tertiary-color: #f5f5f5;

  --icon-color: #8c8c8c;
  --form-color: #D9D9D9;

  --text-font: "Montserrat", sans-serif;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
  --card-title-weight: 600;
}

body {
  color: var(--text-primary-color);
}

.categories,
.destination,
.payments,
.testimonial,
.package .hero .hero-img, .blog .hero .hero-img, .contact .hero .hero-img, .form{
  margin: 0 auto;
  max-width: 312px;
  align-self: end;
}

.section-title h3,
.bottom-hero {
  font-size: 32px;
  text-align: center;
  margin-top: 88px;
}

.section-title hr {
  background-color: var(--primary-color);
  width: 180px;
  height: 4px;
  border: none;
  margin: 16px auto 32px;
}

a, button{
  cursor: pointer;
  text-decoration: none;
}

.active {
  border-bottom: 2px solid currentColor;
}

.button, button {
  text-decoration: none;
  color: var(--text-secondary-color);
  background-color: var(--primary-color);
  padding: 16px 74px;
  margin: 0 auto;
  border-radius: 8px;
  font-weight: var(--title-weight);
}

.button {
  width: 280px;

}


.text-content h4 {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.text-content p {
  font-size: 20px;
  font-weight: var(--text-weight);
  text-align: justify;
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .categories,
  .destination,
  .payments,
  .testimonial,
  .package .hero .hero-img, .blog .hero .hero-img, .contact .hero .hero-img, .form{
    margin: 0 auto;
    max-width: 648px;
  }
}
@media screen and (min-width: 1024px) {
  .categories,
  .destination,
  .payments,
  .testimonial,
  .package .hero .hero-img, .blog .hero .hero-img, .contact .hero .hero-img, .form {
    margin: 0 auto;
    max-width: 900px;
  }

  .section-title h3,
  .bottom-hero {
    margin-top: 104px;
  }

  .section-title hr {
    margin: 16px auto 64px;
  }

  .button:hover {
    background-color: var(--secondary-color);
    transition: 0.3s ease;
  }
}

@media screen and (min-width: 1440px) {
  .categories,
  .destination,
  .payments,
  .testimonial,
  .package .hero .hero-img, .blog .hero .hero-img, .contact .hero .hero-img, .form{
    margin: 0 auto;
    max-width: 1200px;
  }
}
