*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);

}



:root{
    --primary-color: #B81515;
    --secondary-color: #8F0101;


    --background-primary-color: #FFFFFF;
    --background-secondary-color:#000000;
    --background-tertiary-color:#F5F5F5;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;
    --text-tertiary-color: #F5F5F5;

    --icon-color: #8C8C8C;

    --text-font: "Montserrat", sans-serif;
    
    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
    --card-title-weight: 600;
}   