 header{
    background-color: var(--background-secondary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 38px 48px;
 }


.menu{
    width: 32px;
    height: 32px;

}
nav{
    display: none;
}

input[type='checkbox']:checked ~ nav{
    display: block;
}
