.hero .hero-img,
.bottom-hero .hero-img,
.package .hero,
.blog .hero,
.contact .hero {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
}

.hero .hero-img,
.bottom-hero .hero-img {
  height: 360px;
}

.index .hero > .hero-img {
  background-image: url(../img/mobile/homepage/banner-homepage.png);
}

.index .bottom-hero > .hero-img {
  background-image: url(../img/mobile/homepage/bg-footer.png);
}

.index .hero h2 {
  font-size: 20px;
  font-weight: var(--text-weight);
  text-align: center;
  margin: 5rem 1.5rem 0;
  line-height: 1.5;
}

/* DEMAIS PÁGINAS*/
.package .hero,
.blog .hero,
.contact .hero {
  display: flex;
  color: var(--text-secondary-color);
  align-items: center;
  height: 460px;
}

.package .hero-img > h1,
.blog .hero-img > h1,
.contact .hero-img > h1 {
  font-size: 48px;
}
.package .hero-img > hr,
.blog .hero-img > hr,
.contact .hero-img > hr {
  margin: 16px 0 32px;
}

.package .hero-img > p,
.blog .hero-img > p,
.contact .hero-img > p {
  font-size: 20px;
  color: var(--text-secondary-color);
  font-weight: var(--text-weight);
  line-height: 150%;
}

/* PÁGINA PACOTES DE VIAGEM */
.package .hero {
  background-image: url(../img/mobile/destino/banner-destino.png);
}

.package .bottom-hero > .hero-img {
  background-image: url(../img/mobile/destino/bg-footer.png);
}

/* PÁGINA BLOG  */
.blog .hero {
  background-image: url(../img/mobile/blog/banner-blogpost.png);
}

/* PÁGINA CONTATO  */
.contact .hero {
  background-image: url(../img/mobile/contato/banner-contato.png);
}

.contact .bottom-hero > .hero-img {
  background-image: url(../img/mobile/contato/bg-footer.png);
}


@media screen and (min-width: 768px) {
  .hero > .hero-img,
  .bottom-hero > .hero-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    width: 100%;
  }

  .index .hero > .hero-img {
    background-image: url(../img/tablet/homepage/banner-tablet.png);
  }

  .index .bottom-hero > .hero-img {
    background-image: url(../img/tablet/homepage/bg-footer.png);
  }
  .hero h2 {
    margin: 5rem 3.75rem 0;
  }

  /* DEMAIS PÁGINAS*/
  .package .hero,
  .blog .hero,
  .contact .hero {
    background-position: center;
    height: 620px;
    display: flex;
  }
  .package .hero .hero-img,
  .blog .hero .hero-img,
  .contact .hero .hero-img {
    align-content: center;
  }
  .package .hero-img > p,
  .blog .hero-img > p,
  .contact .hero-img > p {
    font-size: 32px;
  }

  /* PÁGINA PACOTES DE VIAGEM */
  .package .hero {
    background-image: url(/jornada-viagens/img/tablet/destino/banner-destino.png);
  }
  .package .bottom-hero > .hero-img {
    background-image: url(../img/tablet/destino/bg-footer.png);
  }

  /* PÁGINA BLOG  */
  .blog .hero {
    background-image: url(../img/tablet/blog/banner-blog.png);
  }

  /* PÁGINA CONTATO  */
  .contact .hero {
    background-image: url(../img/tablet/contato/banner-contato.png);
  }

.contact .bottom-hero > .hero-img {
  background-image: url(../img/tablet/contato/bg-footer.png);
}

}

@media screen and (min-width: 1024px) {
  .index .hero > .hero-img,
  .index .bottom-hero > .hero-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    width: 100%;
  }

  .index .hero > .hero-img {
    background-image: url(../img/desktop/homepage/banner.png);
  }

  .index .bottom-hero > .hero-img {
    background-image: url(../img/desktop/homepage/bg-footer.png);
  }

  .hero h2 {
    margin: 6rem 7.5rem 0;
  }

  /* DEMAIS PÁGINAS*/
  .package .hero .hero-img,
  .blog .hero .hero-img,
  .contact .hero .hero-img {
    width: 40vw;
    align-content: center;
    margin: 0 120px;
  }

  /* PÁGINA PACOTES DE VIAGEM */
  .package .hero {
    background-image: url(../img/desktop/destino/banner-destinos.png);
  }

  .package .bottom-hero > .hero-img {
    background-image: url(../img/desktop/destino/bg-footer.png);
  }

  /* PÁGINA BLOG */
  .blog .hero {
    background-image: url(../img/desktop/blog/banner-blog.png);
  }

  
  /* PÁGINA CONTATO  */
  .contact .hero {
    background-image: url(../img/desktop/contato/banner-contato.png);
  }

  .contact .bottom-hero > .hero-img {
  background-image: url(../img/desktop/contato/bg-footer.png);
}
}

@media screen and (min-width: 1440px) {
  .hero h2 {
    margin: 6rem 10rem 0;
  }
}

@media screen and (min-width: 1920px) {
  .index .hero > .hero-img {
    background-image: url(../img/desktop_large/homepage/banner.png);
  }

  .index .bottom-hero > .hero-img {
    background-image: url(../img/desktop_large/homepage/bg-footer.png);
  }

  .hero h2 {
    margin: 6rem 20rem 0;
  }

  /* PÁGINA PACOTES DE VIAGEM */
  .package .hero {
    background-image: url(../img/desktop_large/destino/banner.png);
  }
  .package .bottom-hero > .hero-img {
    background-image: url(../img/desktop_large/destino/bg-footer.png);
  }

  /* PÁGINA BLOG */
  .blog .hero {
    background-image: url(../img/desktop_large/blog/banner-blog.png);
  }

    /* PÁGINA CONTATO  */
  .contact .hero {
    background-image: url(../img/desktop_large/contato/banner-contato.png);
  }
    .contact .bottom-hero > .hero-img {
  background-image: url(../img/desktop_large/contato/bg-footer.png);
}
}
