.hero .hero-img,
.bottom-hero,
.hero-img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  width: 100%;
  background-position: center;

}



.hero .hero-img {
  background-image: url(../img/mobile/homepage/banner-homepage.png);
}

.bottom-hero,
.hero-img {
  background-image: url(../img/mobile/homepage/bg-footer.png);
}

.hero h2 {
  font-size: 20px;
  font-weight: var(--text-weight);
  text-align: center;
  margin: 5rem 1.5rem 0;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero .hero-img,
  .bottom-hero,
  .hero-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    width: 100%;
  }

  .hero .hero-img {
    background-image: url(../img/tablet/homepage/banner-tablet.png);
  }

  .bottom-hero,
  .hero-img {
    background-image: url(../img/tablet/homepage/bg-footer.png);
  }

  .hero h2 {
    margin: 5rem 3.75rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img,
  .bottom-hero,
  .hero-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    width: 100%;
  }

  .hero .hero-img {
    background-image: url(../img/desktop/homepage/banner.png);
  }

  .bottom-hero,
  .hero-img {
    background-image: url(../img/desktop/homepage/bg-footer.png);
  }

  .hero h2 {
    margin: 6rem 7.5rem 0;
  }
}

@media screen and (min-width: 1440px) {
  .hero h2 {
    margin: 6rem 10rem 0;
  }
}

@media screen and (min-width: 1920px) {
  .hero .hero-img {
    background-image: url(../img/desktop_large/homepage/banner.png);
  }

  .bottom-hero,
  .hero-img {
    background-image: url(../img/desktop_large/homepage/bg-footer.png);
  }

  .hero h2 {
    margin: 6rem 20rem 0;
  }
}
